@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --cum: #111
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 auto;
    font-family: Roboto;
    font-weight: 400;
}

h1, h2, a {
    font-weight: 700;
    color: var(--cum);
    text-decoration: none;
}

header {
    padding: 30px 0;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 60px;
}

header a {
    font-size: 16px;
    font-weight: 400;
    transition: font-weigth .7s;
    display: block;
    margin: 0 8px;
    padding: 0 1px;
}

header a:hover {
    padding: 0.5px;
}

a:hover {
    font-weight: 700;
}

main {
    max-width: 940px;
    margin: auto;
    min-height: calc(100vh - 115px);
}

main h2 {
    margin: 70px 0 20px;
    font-size: 24px;
}

.apresentation {
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding: 0 100px 0 60px;
    justify-content: space-around;
    position: relative;
}

.apresentation div {
    width: 320px;
}

.apresentation h1 {
 
    font-size: 32px;
    margin-bottom: 10px;
    
}

.apresentation p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

.apresentation img {
    margin-bottom: -65px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
}

.card {
    cursor: pointer;
}

.card img {
    width: 300px;
    border-radius: 15px;
}

.img-rad {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

.card h3 {
    margin: 20px auto 7px;
    font-weight: 400;
  
}

.card p {
    font-size: 14px;
    color: #777;
    margin-top: 1.50em;
}

footer {
    font-weight: 400;
    background-color: #eee;
    width: 100%;
    padding: 23px 0;
    margin-top: 50px;
    text-align: center;
    color: #999;
}
